



<md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <!-- <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
        <div>
          <md-button ng-click="toggleRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div> -->




      <div layout="column" flex layout-fill>
        <md-content style="height: 600px;" md-theme="altTheme">
          <section>
            <md-subheader class="md-primary">Unread Messages</md-subheader>
            <md-list layout-padding>
              <md-list-item class="md-3-line" ng-repeat="message in messages">
                  <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                  <div class="md-list-item-text">
                    <h3>{{message.what}}</h3>
                    <h4>{{message.who}}</h4>
                    <p>
                      {{message.notes}}
                    </p>
                  </div>
              </md-list-item>
            </md-list>
          </section>
          <section>
            <md-subheader class="md-warn">Late Messages</md-subheader>
            <md-list layout="column" layout-padding>
              <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                  <h3>{{message.what}}</h3>
                  <h4>{{message.who}}</h4>
                  <p>
                    {{message.notes}}
                  </p>
                </div>
              </md-list-item>
            </md-list>
          </section>
          <section>
            <md-subheader>Read Messages</md-subheader>
            <md-list layout="column" layout-padding>
              <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                  <h3>{{message.what}}</h3>
                  <h4>{{message.who}}</h4>
                  <p>
                    {{message.notes}}
                  </p>
                </div>
              </md-list-item>
            </md-list>
          </section>
          <section>
            <md-subheader class="md-accent">Archived messages</md-subheader>
            <md-list layout="column" layout-padding>
              <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                  <h3>{{message.what}}</h3>
                  <h4>{{message.who}}</h4>
                  <p>
                    {{message.notes}}
                  </p>
                </div>
              </md-list-item>
            </md-list>
          </section>
        </md-content>
      </div>





      </div>
      <div flex></div>
    </md-content>