<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Empleados" >
        <md-content class="md-padding">
          <h1 class="md-display-2">Ver Mascotas!</h1>
          <p>Aca podras ver la lista de todos los clientes de nuestra veterinaria</p>
          <div ng-if="selectedG.length == 0" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
            <div class="table" ng-if="selectedG.length > 0">
              <div class="row header">
                <div flex="33">
                 Codigo Mascota
                </div>
                <div flex="55">
                  Nombre
                </div>
                <div flex>
                  Raza
                </div>
                <div flex>
                  Codigo del Dueno
                </div>
              </div>

              <div class="row" 
                   ng-repeat="item in selectedG">
                <div flex>
                  {{item.codmascota}}
                </div>
                <div flex>
                  {{item.nombre}}
                </div>
                <div flex>
                  {{item.raza}}
                </div>
                <div flex>
                  {{item.codDueno}}
                </div>
              </div>
              
            </div>
            <ul class="numeration" >
              <li ng-repeat = "index in groups" ng-click="change($index)"><a>{{$index + 1}}</a></li>
            </ul>
        </md-content>
      </md-tab>
      <md-tab label="Ingresar Nuevo Empleado">
        <md-content class="md-padding">
          <h1 class="md-display-2">Ingresar</h1>
          
          <md-input-container>
            <label>Nombre</label>
            <input required name="clientName" ng-model="project.nombre">
          </md-input-container>
          <md-input-container>
            <label>Raza</label>
            <input required name="clientName" ng-model="project.raza">
          </md-input-container>
          <md-input-container>
            <label>Fecha de Nacimiento</label>
            <input type="date" ng-model="project.nacimiento"/>
          </md-input-container>
          <md-select placeholder="Codigo del Dueno" ng-model="project.codDueno">
              <md-option ng-repeat="cliente in clientes" value="{{cliente.codCliente}}">{{cliente.codCliente}}</md-option>
            </md-select>
          <md-button class="md-raised md-primary" ng-click="send(project)">Ingresar Mascota</md-button>


        </md-content>
      </md-tab>
      
    </md-tabs>
  </md-content>
</div>